body{
	color:red;
	font-family:cursive;
	font-size: 30px;
}
p{
	font-size: 40px;
	color: blanchedalmond;
	background-color: blue;
}
#segundoParrafo{
	color: brown;
	background-color: yellowgreen;
	border-radius: 30px;
}
#tercerParrafo{
	color: rgb(239, 225, 236);
	background-color: rgb(200, 214, 40);
	border: 30px double;
	border-color: aqua;
}
#cuartoParrafo{
	color: rgb(239, 225, 236);
	border:dotted 35px;
	border-color: rgb(2, 169, 77);
}